@import url('https://fonts.googleapis.com/css2?family=Oswald&family=EB+Garamond:wght@800&family=Indie+Flower');
@import "utils.module";
@import url('https://use.fontawesome.com/releases/v5.0.13/css/all.css');
$body-font-size: 14px;

* {
  box-sizing: border-box;
}

html,
body {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: $body-font-size;
  color: $content-color;
  font-family: 'Encode Sans Condensed', sans-serif;
  background-color: #E5E5E5;
}

#__next {
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

p {
  margin-bottom: 0;
  &:first-child {
    margin-top: 0;
  }
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-start {
  align-items: flex-start;
}

.space-between {
  justify-content: space-between;
}

.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100% !important;
}

.flex-1 {
  flex: 1;
}

.flex-50 {
  flex: 1 0 50%;
}

.flex-wrap {
  flex-wrap: wrap;
}

.border-none {
  border: none;
}

button {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  padding: 5px 15px;
  display: inline-block;
  height: 35px;
  background: #77b542;
  color: white;
  z-index: 1;
  border: none;
  margin: 5px 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:hover, &.active {
    background: #bfd539;
  }
}

a {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  padding: 5px 15px;
  display: inline-block;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  z-index: 1;
  margin: 10px 0 0 0;

  &.blue {
    background-color: $blue;
  }

  &.green {
    background-color: $green;
  }

  &.dark-green {
    background-color: $dark-green;
  }
}

.flex-50 {
  @media screen and (max-width: 740px) {
    flex: 0 0 100%;
  }
}

.p-left {
  padding-left: 5px;
  @media screen and (max-width: 740px) {
    padding-left: 0;
  }
}

.p-right {
  padding-right: 5px;
  @media screen and (max-width: 740px) {
    padding-left: 0;
  }
}

.text-justify {
  text-align: justify;
}
